.footer {
  position: fixed;
  height: fit-content;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #595959;

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logger {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #595959;
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
  max-height: 20vh;
  line-height: 1.5rem;
  font-size: 0.5rem;

  .log-item {
    font-size: 0.9rem;
  }
}
