body {
  margin: 0;
  padding: 0;
  padding: 2rem;
  font-family: 'Karla', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2rem;
  overscroll-behavior: contain;
  touch-action: pan-x;
}

main {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  margin: 0;

  &.header-title {
    font-family: 'Bytesized', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;

    &.playing {
      text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
    }
  }
}

h2 {
  font-size: 2rem;
  margin: 0;
}
